name: Build PHP binaries

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  linux:
    name: Linux (PM ${{ matrix.pm-version-major }})
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        pm-version-major: [4, 5]

    steps:
      - uses: actions/checkout@v3

      - name: Install tools and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install make autoconf automake libtool libtool-bin m4 wget libc-bin gzip bzip2 bison g++ git re2c

      - name: Compile PHP
        run: |
          # Used "set -ex" instead of hashbang since script isn't executed with hashbang
          set -ex
          trap "exit 1" ERR
          ./compile.sh -t linux64 -j 4 -f -g -P ${{ matrix.pm-version-major }}

      - name: Create tarball
        run: tar -czf ./PHP_Linux-x86_64.tar.gz bin
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: Linux-PM${{ matrix.pm-version-major }}
          path: |
            ./PHP_Linux-x86_64.tar.gz
            install.log
            compile.sh
          if-no-files-found: error

      - name: Prepare workspace for upload
        if: failure()
        run: tar -czf workspace.tar.gz install_data

      - name: Upload workspace
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: Linux-workspace-PM${{ matrix.pm-version-major }}
          path: |
            workspace.tar.gz
          if-no-files-found: error

  macos:
    name: MacOS (PM ${{ matrix.pm-version-major }})
    runs-on: macos-11.0
    strategy:
      matrix:
        pm-version-major: [ 4, 5 ]

    steps:
      - uses: actions/checkout@v3
      
      - name: Install tools and dependencies
        run: brew install libtool autoconf automake pkg-config bison re2c
        
      - name: Compile PHP
        run: |
          export PATH="/usr/local/opt/bison/bin:$PATH"
          set -ex
          trap "exit 1" ERR
          ./compile.sh -t mac-x86-64 -j4 -f -g -P ${{ matrix.pm-version-major }}
          
      - name: Create tarball
        run: tar -czf ./PHP_MacOS-x86_64.tar.gz bin
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: MacOS-PM${{ matrix.pm-version-major }}
          path: |
            ./PHP_MacOS-x86_64.tar.gz
            install.log
            compile.sh
          if-no-files-found: error

      - name: Prepare workspace for upload
        if: failure()
        run: tar -czf workspace.tar.gz install_data

      - name: Upload workspace
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: MacOS-workspace-PM${{ matrix.pm-version-major }}
          path: |
            workspace.tar.gz
          if-no-files-found: error

  windows:
    name: Windows (PM ${{ matrix.pm-version-major }})
    runs-on: windows-2019
    strategy:
      matrix:
        pm-version-major: [ 4, 5 ]

    steps:
      - uses: actions/checkout@v3
      
      - name: Install tools and dependencies
        run: choco install wget --no-progress
        
      - name: Compile PHP
        run: .\windows-compile-vs.bat
        env:
          VS_EDITION: Enterprise
          SOURCES_PATH: ${{ github.workspace }}\pocketmine-php-sdk
          PM_VERSION_MAJOR: ${{ matrix.pm-version-major }}
          
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: Windows-PM${{ matrix.pm-version-major }}
          path: |
            php-*.zip
            compile.log
            windows-compile-vs.bat
          if-no-files-found: error

  publish:
    name: Publish binaries
    needs: [linux, macos, windows]
    runs-on: ubuntu-20.04
    if: ${{ github.ref_name == 'stable' && github.ref_type == 'branch' }}
    
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          path: ${{ github.workspace }}
          
      - name: Publish release
        uses: ncipollo/release-action@v1.12.0
        with:
          artifacts:
            ${{ github.workspace }}/Linux-PM*/*.tar.gz
            ${{ github.workspace }}/MacOS-PM*/*.tar.gz
            ${{ github.workspace }}/Windows-PM*/*.zip
          name: PHP (${{ github.ref_name }})
          tag: php-${{ github.ref_name }}-${{ github.run_number }}
          draft: true


      
